*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    background-color: hsl(216, 15%, 48%);
      font-family: "Outfit", sans-serif;

}
/* container */
.container{
    margin: 100px auto;
    max-width:400px;
    padding:20px;
    text-align: center;

}
.container img{
 max-width: 100%;
 border-radius: 10px;
}
.container h1{
   padding: 10px;
   color: hsl(218, 44%, 22%);
}
.container p{
    padding: 10px;
    color: hsl(220, 15%, 55%);
}